.type-grass{
    background-color: green;
    color: lightgrey;
}
.type-poison{
    background-color: purple;
    color: lightgrey;
}
.type-fire{
    background-color: orangered;
    color: lightgrey;
}
.type-flying{
    background-color: lightgrey;
}
.type-water{
    background-color: cornflowerblue;
}
.type-bug{
    background-color: greenyellow;
}
.type-electric{
    background-color: gold;
}
.type-ground{
    background-color: darkgoldenrod;
}
.type-fairy{
    background-color: pink;
}
.type-ice{
    background-color: deepskyblue;
}
.type-ghost{
    background-color: rebeccapurple;
    color: lightgrey;
}
.type-rock{
    background-color: saddlebrown;
    color: lightgrey;
}
.type-psychic{
    background-color: hotpink;
}
.type-fighting{
    background-color: darkred;
    color: lightgrey;
}